h1{
    text-align: center;
    color:wheat;
    font-size: 40px;

}
.abc{
    display: column;
    justify-content: center;
    align-items: center;
    margin-left:100px;
    height:130vh ;  
    width: 65vw;
    /* border: 3px solid rgb(176, 176, 220); */
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.child{
   border: 2px solid rgba(81, 39, 39, 0.342);
   border-radius: 10px;
}
.child1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.child2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.child3{
    grid-column: 3/4;
    grid-row: 1/2;
}
.child4{
    grid-column: 1/2;
    grid-row: 2/3;
}
.child5{
    grid-column: 2/3;
    grid-row: 2/3;
}
.child6{
    grid-column: 3/4;
    grid-row: 2/3;
}
.child7{
    grid-column: 1/2;
    grid-row:3/4;
}
.child8{
    grid-column: 2/3;
    grid-row: 3/4;
}
.child9{
    grid-column: 3/4;
    grid-row: 3/4;
}
img{
    height: 200px;
    width: 278px;
    margin:5px;
    margin-left: 10PX;
    border: 2px solid rgb(171, 156, 129);
    border-radius: 10px;
    /* animation: all 3s ease infinite; */
    transition: all 5s ;
}
img:hover{
    transform: scale(1.04);
    /* rotate: 4deg ; */
    height: 300;
    width: 300;
}
h2{
    text-align: center;
    color: goldenrod;
    font-size: 30px;

}
p{
    margin: 2px;
}
.seedemo{
    height: 40px;
    width: 150px;
     border-radius: 20px;
    margin:10px;
    margin-left: 80px;
    align-items: center;
    background-color: #aa96b6;
    border: 2px solid#aa96b6;;
           color:white;
}
@media (max-width:400px){
.abc{
    display:grid !important;
    grid-template-columns: repeat(1,1fr) !important;
    padding: 0px 10px;
   }
}
/* }
@keyframes img sizeincease
   {
    10%{
        height:250px

}
} */
